.formCard{
    padding-top: 50px;
    padding-bottom: 30rem;
}

select {
    border-radius: 6px;
    border-width: 1px;
    height: 2.5rem;
    width: 50%;
}

.check-box {
    padding: 5px;
}

input {
    border-radius: 6px;
    border-width: 0.5px;
    height: 2.5rem;
    
}

label {
    padding-top: 1rem;
}