<div >
    <mat-toolbar>
        <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with home icon" fxShow
            fxHide.gt-xs class="margin-for-home">
            <i class="material-icons">home</i>
        </button>
        <span>The Work Bench</span>
        <span class="example-spacer"></span>
        <div fxShow fxHide.lt-md>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon><i class="material-icons">feedback</i></mat-icon>
            </button>
            <button mat-icon-button class="example-icon cart" aria-label="Example icon-button with cart icon">
                <mat-icon> <i class="material-icons">shopping_cart</i></mat-icon>
            </button>
            <button mat-icon-button class="example-icon logout-icon" aria-label="Example icon-button with logout icon">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button
            [matMenuTriggerFor]="menu" fxShow fxHide.gt-xs>
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Feed Back</button>
            <button mat-menu-item>Cart</button>
            <button mat-menu-item>Log Out</button>
        </mat-menu>
    </mat-toolbar>

</div>