
<div fxLayout="column">
    <mat-form class="formCard" fxLayout="column" style="padding: 2rem;">
        <div fxLayout="column">
            <select placeholder="Select your component" [(ngModel)]="campagain">
                <option value="" disabled selected hidden>Select Campagain</option>
                <option value="coffee">Coffee</option>
                <option value="tea">Tea</option>
                <option value="milk">Milk</option>
            </select>
        </div>
        <div fxLayout="column" style="padding: 5px;">
            <section class="example-section" fxLayout="column">
                <mat-checkbox class="example-margin">Ship to my Office(9090)</mat-checkbox>
                <mat-checkbox class="example-margin">Ship to my home</mat-checkbox>
            </section>
        </div>
        <label>Full Name</label>
        <input type="text" placeholder="Full Name" [(ngModel)]="name" />
        <label>Address (Cannot delevier to PO box Address) </label>
        <input type="text" placeholder="Street Address" [(ngModel)]="Address" />
        <label>Apt/Suite# </label>
        <input type="text" placeholder="Apt/Suite" [(ngModel)]="Apt_Suite" />
        <div fxLayoutAlign="space-between" fxLayout="row" fxLayout.xs="column">
            <div fxLayout="column" fxFlex="30">
                <label>Street</label>
                <input type="text" placeholder="City"  [(ngModel)]="city"/>
            </div>
            <div fxLayout="column" fxFlex="30">
                <label>State/Province</label>
                <input type="text" placeholder="State" [(ngModel)]="state" />
            </div>
            <div fxLayout="column" fxFlex="30">
                <label>Zip/Postal Code</label>
                <input type="text" placeholder="Zip Code" [(ngModel)]="zipcode" />
            </div>
        </div>
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="100">
                <label>Country</label>
                <select placeholder="Select your component" [(ngModel)]="country">
                    <option value="" disabled selected hidden>Select Country</option>
                    <option value="India">India</option>
                    <option value="U.S.A">USA</option>
                    <option value="Novi">Novi</option>
                </select>
            </div>
            <div fxLayout="column" fxFlex="35">
                <label>Phone Number</label>
                <input type="text" placeholder="Phone Number" [(ngModel)]="phoneNumber" />
            </div>
        </div>
        <div style="padding: 1.5rem;" fxLayoutAlign="center center">
            <button type="submit" class="button" fxLayoutAlign="center center" (click)="submitForm()">Submit</button><br>
        </div>
    </mat-form>
</div>